.gradient-1 {
  background: linear-gradient(to right bottom, #F6D365, #FDA085)
}
.gradient-2 {
  background: linear-gradient(to right bottom, #FDA085,#F6D365)
}
.gradient-3 {
  background: linear-gradient(to right bottom, #36BDFE, #D406FE)
}
.gradient-4 {
  background: linear-gradient(to right bottom, #8867F9, #048FFF)
}
#navmenu li {
  margin-left: 20px;
  margin-right: 20px;
}
#navmenu {
  font-size: 13px;
}
footer {
  background-color: #F5F5F7;
  padding: 17px 0px 0px;
}
footer ul {
  list-style: none;
  margin: 0px;
}
footer p {
  color: #79797E;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: inherit;
}
#productcard {
  transition: transform .2s;
  width: 18rem;
  margin: 30px;
  border-radius: .5rem;
}
#productcard.card:hover {
  transform: scale(1.25);
}
@-webkit-keyframes greywhite {  
  0% { background-color: #A9A9A9; }
  100% { background-color: white; }
}
#blinkingsearch {
  -webkit-animation-name: greywhite;
  -webkit-animation-duration: 3s; 
}  

#button-curve {
  border-radius: 12px;
}