@media only screen and (min-width: 960px) {
    .navbar .navbar-nav .nav-item .nav-link {
        padding: 0 0.5em;
    }
    .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
        border-right: 2px solid #000000;
    }
}
.carousel .carousel-item {
    height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}