* {
    font-family: 'Helvetica Neue';
}
#footer {
    padding: 17px 0px 0px
}
#footer ul {
    list-style: none;
    margin: 0dp;
}
#footer li {
    padding-bottom: 0px
}
#footer p {
    color: #79797E;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: inherit;
}